body{
  background-image: url(/images/bg-bottom.svg), url(/images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-color: hsl(229, 66%, 92%);
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  h5 {
      padding: 20px;
  }
  hr {
    color: hsl(228, 45%, 44%);
  }
 .block {
    color: hsl(228, 45%, 44%);
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    text-align: center;
    margin: 30px;
 }
 .first{
     height: 450px;
     width: 300px;
     background-color:  hsl(231, 16%, 83%);
     display: inline-block;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0px 3px 2px 2px #fffafa;

 }
 .basic .btn {
  color: blue;
}
.master .btn {
  color: blue;
}
.professional {
  background-color: blue;
  color: white;
}
.professional .div_p_1,.div_p_2,.div_p_3,.div_p_4,.div_p_5{
    color:white;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    padding: 5px 15px;
    
    font-weight: bold;
    margin:10px;
    
}
/* .first:hover
{color: blue;
font-size: 150%;} */

